.sub-result {
    margin: 10px;
    padding: 5px;
    display: inline-block;
    background-color: black;
    color: white;
    vertical-align: top;
}

.sub-result input {
    width: 100px;
    height: 30px;
}

.sub-result div {
    padding: 5px;
}